/* beginning of ourCacaoSection section */
.ourCacaoSection {
    padding: 5rem var(--leftrightpadding) 5rem var(--leftrightpadding);
    background-color: var(--lighter-yellow-color);
}

.ourCacaoSectionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0;
}

.ourCacaoMainText {
    font-family: var(--LilitaOne);
    font-size: 8rem;
}

.ourCacaoSubText {
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    color: var(--dark-green-color);
}

.ourCacaoProducts {
    margin-top: 5rem;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Prevents cards from stretching */
}

/* swiper / Carousel */

.swiperContainer {
    width: 100%;
    height: auto;
  }
  
  .swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
  }