.storeBodyContainer {
    padding: 0 var(--leftrightpadding);
    display: flex;
    justify-content: space-between;
    /* min-height: 100vh; */
    /* background-color: var(--light-green-color); */
}

.storeBodyLeft h1, .storeBodyLeft h2 {
    font-family: var(--LilitaOne);
    font-weight: normal;
}

.storeBodyLeft h1 {
    font-size: 4rem;
    margin: 0 0 1rem 0;
    padding: 0;
}

.storeBodyLeft h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 1rem 0 0 0;
}

.storeBodyLeft ul {
    font-size: 2rem;
    margin: 0 0 2rem 0;
    list-style: none;
    font-weight: bold;
    padding: 0;
}

.storeBodyLeft li {
    margin-top: 1rem;
    padding-top: 0;
}

.storeBodyRight {
    padding-top: 5rem; /*Based on the values of h1*/
}

.storeBodyGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto);
    gap: 6rem;    
}

.pageList {
    display: flex;
    justify-content: center;
    margin: 8rem 0;
}

.pageList div {  /*find a way to make it show the highlighted page */
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0 1rem;
    border: solid 2px black;
    border-radius: 50%;
}

/* Hover States */

.storeBodyLeft li, 
.storeBodyLeft h2  {
    transition: color 0.3s ease-in-out,
                background-color 0.3s ease-in-out;
  }
  
    li:hover, .storeBodyLeft h2:hover {
      cursor: pointer;
      color: var(--dark-green-color); /* placeholder */
    }

    .pageList div:hover {
        cursor: pointer;
    }

