.productCardContainer {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 0 0 black;
    border-radius: 2rem;
    height: 50vh;
    width: 22vw;
    flex-shrink: 0; /* Prevents the card from shrinking */
}

.topRow, .bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topRow {
    font-size: 2rem;
}


.productImage {
    height: 48rem;
    width: auto;
    overflow: hidden;
    border-radius: 3rem;
    border: solid 2px;
}

.productPrice {
    font-size: 2.5rem;
    font-weight: bold;
}

.middlePicture {
    flex-grow: 1; /* Takes up remaining space, pushing topRow and bottomRow */
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
}

.topRow .productReview, .bottomRow {
    font-family: var(--LilitaOne);
}

.bottomRow {
    margin-top: auto;
    font-size: var(--sub-hero-text-size);
}

/* Hover States: */

.productCardContainer {
    transition: box-shadow      0.2s ease-in-out,
                border      0.2s ease-in-out;
}

.productCardContainer:hover {
    cursor: pointer;
    box-shadow: 6px 6px 0 0 var(--dark-green-color);
    border: 1px solid var(--dark-green-color);
}
